.App {
  background-color: antiquewhite;
  
}

.header{
  padding-top: 20px;
  padding-bottom: 1%;
  background-color: #bad9dd;
}

a,.nav{
  text-align: right;
  color: black;
  font-weight: bold;
  margin-left: 88rem;
  font-size: large;
  text-decoration: none;
}

img{
  width: 5%;
 
  /* margin-left: 93rem; */
}

.title{
  text-align: center;
  padding-top: 4%;
}

.subtitle{
  text-align: center;
  padding-top: 1%;
}

